<div class="home_page">
  <h1 class="header">MeetUp Category VS Weather</h1>

  <%= form_tag do %>
    <%= label_tag(:city, "Select city:") %>
    <%= text_field_tag(:city) %>
    <%= label_tag(:state, "Select state:") %>
    <span class="test">
      <%= text_field_tag(:state) %>
    </span>
    <%= submit_tag("Process") %>
  <% end %>
</div>
