<div class="container">
  <h1 class="header">MeetUp Category VS Weather</h1>

  <%= form_tag do %>
    <%= label_tag(:city, "Select city:") %>
    <%= text_field_tag(:city) %>
    <%= label_tag(:state, "Select state:") %>
    <%= text_field_tag(:state) %>
    <%= submit_tag("Process") %>
  <% end %>
</div>
