<div class="meetups">
  <h2> <%=@city%> </h2>
  <h5><%=@date%>, <%=@monthly_avg_t%> degC</h5>

  <h3>Frequencies of meet-up categories:</h3>
  <ul>
    <% @frequencies_of_meetups.each do |meetup, frequency| %>
      <li> <%=meetup%>: <%=frequency%> </li>
    <% end %>
  </ul>
</div>




